@charset "UTF-8";
/*Versão Mobile*/

@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap'); /*fonte titulo*/

@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap'); /*fonte navegação*/

:root{
    --cor1:#262626;
    --cor2:#BF3604;
    --cor2:#D96704;
    --cor4:#ed9122;

    --fontnav:Tillana;
    --fonttitulo:Kavivanar;
}

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0px;
}

body{
    height: 100vh;
    width: 100vw;
    background: url('../imagem/fundoham.jpg') no-repeat right;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    width: 100vw;

}

#menuham{
    display: block;
    color: var(--cor2);
}

#menuham span{
    padding: 10px;
    font-size: 2em;
}

#menuham span:hover{
    color: var(--cor4);
}

#menu{
    width: 100vw;
    margin: auto;
    display: none;
    text-align: center;
}

#menu a{
    display: inline;
    padding: 10px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    font-family: var(--fontnav);
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.414);
}

#menu >a:hover{
    transition: 0.5s;
    color: black;
    background-color: var(--cor4);
}

#formulario{
    display: none;
    font-weight: bold;
    font-family: var(--fontnav);
}

.botao{
    border: 0px;
    background-color: var(--cor4);
}

#titulo{ 
    top: 22%;
    left: 50%;
    width: 80vw;
    padding: 5px;
    text-align: center;
    color: var(--cor2);
    position: absolute;
    border-radius: 10px;
    font-family: var(--fonttitulo);
    transform: translate(-50%, -50%);
}

#reserva{
    top: 38%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

#reserva a{
    padding: 12px;
    color: black;
    font-size: 1.1em;
    border-radius: 8px;
    text-decoration: none;
    font-family: var(--fontnav);
    border: 2px solid rgb((128, 128, 128, 0.534));
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.414);
    background-color: rgba(128, 128, 128, 0.816);
}

#reserva a:hover{
    border: 0px;
    transition: 0.5s;
    color: black;
    background-color: var(--cor2);
}

#mapa{
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

#mapa h2{
    padding: 5px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    background-color: var(--cor4);
}

iframe{
    width: 90vw;
    height: 40vh;
    border-radius: 0px 0px 20px 20px;
}

