@charset "UTF-8";
/*Versão Mobile*/

@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap'); /*fonte titulo*/

@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap'); /*fonte navegação*/

:root{
    --cor1:#262626;
    --cor2:#BF3604;
    --cor2:#D96704;
    --cor4:#ed9122;

    --fontnav:Tillana;
    --fonttitulo:Kavivanar;
}

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0px;
}

body{
    height: 100vh;
    width: 100vw;
    background: url('../imagem/fundoham.jpg') no-repeat right;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    width: 100vw;

}

#menuham{
    text-align: center;
    color: var(--cor2);
    background-color: var(--cor1);
}

#menuham span{
    font-size: 2em;
}

#menuham span:hover{
    color: var(--cor4);
}

#menu{
    display: block;
    background-color: #262626f0;
}

#menu a{
    display: block;
    padding: 5px;
    font-size: 1.1em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: var(--fontnav);
}

nav a:hover{
    color: black;
    background-color: gray;
}

#titulo{ 
    top: 33%;
    left: 50%;
    padding: 5px;
    border-radius: 10px;
    color: var(--cor2);
    position: absolute;
    font-family: var(--fonttitulo);
    background-color: #262626e9;
    transform: translate(-50%, -50%);
}

#reserva{
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

#reserva a{
    padding: 12px;
    color: var(--cor2);
    font-size: 1.1em;
    border-radius: 8px;
    text-decoration: none;
    font-family: var(--fontnav);
    border: 2px solid rgb((128, 128, 128, 0.534));
    background-color: rgba(128, 128, 128, 0.534);
}

#reserva a:hover{
    border: 0px;
    transition: 0.5s;
    color: #262626;
    background-color: var(--cor2);
}

#mapa{
    top: 90%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

#mapa h2{
    padding: 5px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    background-color: var(--cor4);
}

iframe{
    width: 80vw;
    height: 50vh;
    border-radius: 0px 0px 20px 20px;
}

